h1 {
    font-weight: 600;
    font-size: 6.4rem;
}

h2 {
    font-weight: bold;
    font-size: 4rem;
}

// o que se repete em h1 e h2
h1,
h2 {
    letter-spacing: -0.1rem;
    line-height: 112%;
}

// o que se repete em h3 e h4
h3,
h4 {
    letter-spacing: -0.05rem;
}

// o que se repete em h1, h2, h3 e h4
h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    color: $gray-500;
}

h3 {
    font-size: 2.4rem;
    line-height: 150%;
    color: $gray-600;
}

h4 {
    font-size: 2rem;
    line-height: 112%;
    color: $gray-400;
}